In [1]:
import warnings
warnings.filterwarnings('ignore')

/home/gitpod/.pyenv/versions/3.8.9/lib/python3.8/site-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [2]:
import great_expectations as ge

In [3]:
df = catalog.load('iris_data')

2021-04-23 04:33:06,562 - kedro.io.data_catalog - INFO - Loading data from `iris_data` (CSVDataSet)...

In [5]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [6]:
# gdf = ge.read_csv("my_data_directory/example.csv")
# ge.read_parquet ...
# ge.read_excel ...
# ge.from_pandas

gdf = ge.from_pandas(df)

In [12]:
gdf.expect_column_values_to_not_be_null(['sepal_length'])

{
  "result": {
    "element_count": 150,
    "unexpected_count": 1,
    "unexpected_percent": 0.6666666666666667,
    "unexpected_percent_total": 0.6666666666666667,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true
}